    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Hello Agent!</h2>
       </div>
       <div class="row">
          <div class="col-lg-2 col-lg-offset-1">
              <img src="img/iphone2.png" style="width: 240px">
          </div>
          <div class="col-lg-6 col-lg-offset-1">
            <p>Ingress is an augmented reality game created by Niantic Labs, a division of Google,in this game two teams, the <span style="color:#0000cc">Resistance</span> and the <span style="color:#00cc00">Enlightened</span>.  In the game, the <span style="color:#00cc00">Enligtened</span> seek to capture territory for the shapers, alien beings from another dimension. Meanwhile, the <span style="color:#0000cc">Resistance</span> seeks defend humanity from this threat using the same technology.  This is done by visiting locations known as portals, caputing them, and using them to claim more area by creating fields.</p>
            <p>Ingress can be best described as a highly competitive geocaching game with elements of Capture the Flag and Risk added.  The game is as easy as walking down the street, or can be as complex as organizing an army.  It all depends on you, and how far you are willing to go.</p>
            <h2> Defend Humanity! <span style="color:#0000cc">JOIN THE RESISTANCE</span></h2>
            </div>
        </div>
    </section>
