    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Hello Agent!</h2>
       </div>
       <div class="row">
          <div class="col-lg-2 col-lg-offset-1">
              <img src="img/iphone2.png" style="width: 240px">
          </div>
          <div class="col-lg-6 col-lg-offset-1">
              <p>Ingress is a massively multi-player augmented reality game that's based in the real world.
              Created by Niantic Labs, a division of Google, this game has two teams (factions). Players visit locations known as portals (often well-known landmarks), capture them, and use them to claim area for their team by creating fields. We are the Vancouver <span style="color:#0000cc">Resistance</span>, fighting for humanity's freedom against the <span style="color:#00cc00">Enlightened</span>, who seek to capture territory for the shapers, alien beings from another dimension.</p>
            <p>Ingress can be best described as a highly competitive geocaching game with elements of Capture the Flag and Risk added. The game is as easy as walking down the street, or can be as complex as organizing an army. It all depends on you, and how far you are willing to go.</p>
            <h2> Defend Humanity! <span style="color:#0000cc">JOIN THE RESISTANCE</span></h2>
            </div>
        </div>
    </section>
