    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Ingress</h2>
                    <p>Ingress is available from both the Google Play Store and the AppStore</p>
                    <a href="https://play.google.com/store/apps/details?id=com.nianticproject.ingress" class="btn btn-default btn-lg"><img src="img/playstore-badge.png" /></a>
                    <a href="https://itunes.apple.com/us/app/ingress/id576505181?ls=1&mt=8" class="btn btn-default btn-lg"><img src="img/ios-badge.png" /></a>
                </div>
            </div>
        </div>
    </section>
